body{background-color:black;font-family:verdana;margin:0px;}
.done-true{color:teal;font-size:16px;display:block;padding:14px;word-wrap:break-word;width:80%;float:right;}
.done-false{font-size:16px;display:block;padding:14px;word-wrap:break-word;width:80%;float:right;}
button{width:297px;height:60px;cursor:pointer;background:none;font-size:16px;
border:4px solid white;font-weight:bold;color:white;}
button:hover {color:yellow;border:4px solid yellow;box-shadow:1px 1px 20px yellow;}
#container{padding:40px;
box-shadow:2px 2px 40px black;background-color:white;}
#heading{font-family:"Broadway";font-size:42px;text-shadow:2px 2px 50px black;color:White;}
input{width:40px;height:40px;cursor:pointer;float:left;display:block;margin:5px;}
input:hover {box-shadow:1px 1px 30px teal;}
.num {color:grey;font-size:14px;}
#frame{display:block;margin:auto;width:600px;}
#bimg{position:fixed;width:100%;z-index:-1;
filter:blur(20px) brightness(60%) contrast(140%);}
.scroll{height:250px;overflow:auto;}